body, header, aside, nav, ul, li, section, article, div, footer {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    background: url("../images/colorful_dots_on_black.jpg");
    background-repeat: repeat;
    font-family: Arial;
    font-size: 20px;
}

body > header {
    height: 100px;
    font-size: 3.9rem;
    font-weight: bold;
    text-align: center;
    color: #ffff00;
    background: -webkit-gradient(linear, left top, right top, color-stop(33%,#ff0000), color-stop(32%,#000800), color-stop(66%,#0008000), color-stop(65%,#0000ff));
    background: -webkit-linear-gradient(left, #ff0000 33%, #008000 32%, #008000 66%,#0000ff 65%);
    background: -o-linear-gradient(left, #ff0000 33%, #008000 32%, #008000 66%,#0000ff 65%);
    background: -moz-linear-gradient(left, #ff0000 33%, #008000 32%, #008000 66%,#0000ff 65%);
    background: -ms-linear-gradient(left, #ff0000 33%, #008000 32%, #008000 66%,#0000ff 65%);
}

aside, article {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
}

section {
    margin: 40px 45px 0 375px;
}

aside {
    float: left;
    margin-top: 40px;
    margin-left: 15px;
    padding: 25px 20px;
}

aside header {
    font-size: 1.9rem;
    text-decoration: underline;
}

aside ul li {
    padding: 7px 60px 7px 10px;
}

aside ul li:first-child {
    margin-top: 10px;
}

aside ul li:hover {
    background-color: red;
    border-radius: 10px;
}

aside ul li:before {
    content: url("../images/bullet.gif");
}

aside ul li a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin-left: 10px;
}

article {
    margin-bottom: 12px;
    padding: 20px;
}

article header {
    padding: 15px;
    border-radius: 10px;
    font-size: 1.8em;
}

#webColors {
    background-color: #ff0000;
    color: white;
}

#webSafeColors {
    background-color: #ffa500;
}

#RGB {
    background-color: #ffff00;
}

#RGBA {
    background-color: #008000;
    color: white;
}

#\#HSLHSV {
    background-color: #0000ff;
    color: white;
}

#\#lorem {
    background-color: #800080;
    color: white;
}

article div {
    padding-top: 10px;
    padding-bottom: 10px;
}

article div:first-line {
    font-style: italic;
}

article div:first-letter {
    font-size: 5rem;
}

article footer a {
    color: #808080;
    font-style: italic;
}

span:lang(la) {
    color: #00008b;
    font-style: italic;
}

span:lang(la):before,span:lang(la):after {
    content: '"';
}

